#progressBar {
  position: fixed; /* Sử dụng position: fixed để đảm bảo progressBar hiển thị ở vị trí cố định trên màn hình */
  top: 75.5%; /* Đưa progressBar lên giữa theo chiều dọc */
  left: 69%; /* Đưa progressBar ra giữa theo chiều ngang */
  transform: rotateX(-45deg); /* Dịch chuyển progressBar lùi lại 50% chiều ngang và chiều dọc, để nó ra giữa màn hình */
  height: 18px;
  width: 130px;
  background-color: rgb(90, 84, 84);
  border: 6px solid rgb(0, 0, 0);
  justify-content: flex-start;
  display: flex;
  visibility: hidden;
}

#progressBarFill {
  background-color: rgb(255, 174, 0);
  width: 0%;
}
#progressBar2 {
  position: fixed; /* Sử dụng position: fixed để đảm bảo progressBar hiển thị ở vị trí cố định trên màn hình */
  top: 15.5%; /* Đưa progressBar lên giữa theo chiều dọc */
  left: 54.8%; /* Đưa progressBar ra giữa theo chiều ngang */
  transform:  rotateX(-45deg); /* Dịch chuyển progressBar lùi lại 50% chiều ngang và chiều dọc, để nó ra giữa màn hình */
  height: 18px;
  width: 98px;
  background-color: rgb(90, 84, 84);
  border: 6px solid rgb(0, 0, 0);
  justify-content: flex-start;
  display: flex;
  visibility: hidden;
}
#progressBar2Fill {
  background-color: rgb(255, 174, 0);
  width: 0%;
}
#progressBar3 {
  position: fixed; /* Sử dụng position: fixed để đảm bảo progressBar hiển thị ở vị trí cố định trên màn hình */
  top: 15.5%; /* Đưa progressBar lên giữa theo chiều dọc */
  left: 61.5%; /* Đưa progressBar ra giữa theo chiều ngang */
  transform: rotateX(-45deg); /* Dịch chuyển progressBar lùi lại 50% chiều ngang và chiều dọc, để nó ra giữa màn hình */
  height: 18px;
  width: 98px;
  background-color: rgb(90, 84, 84);
  border: 6px solid rgb(0, 0, 0);
  justify-content: flex-start;
  display: flex;
  visibility: hidden;
}
#progressBar3Fill {
  background-color: rgb(255, 174, 0);
  width: 0%;
}
#progressBar4 {
  position: fixed; /* Sử dụng position: fixed để đảm bảo progressBar hiển thị ở vị trí cố định trên màn hình */
  top: 46%; /* Đưa progressBar lên giữa theo chiều dọc */
  left: 83.5%; /* Đưa progressBar ra giữa theo chiều ngang */
  transform: rotateX(-45deg); /* Dịch chuyển progressBar lùi lại 50% chiều ngang và chiều dọc, để nó ra giữa màn hình */
  height: 18px;
  width: 125px;
  background-color: rgb(90, 84, 84);
  border: 6px solid rgb(0, 0, 0);
  justify-content: flex-start;
  display: flex;
  visibility: hidden;
}
#progressBar4Fill {
  background-color: rgb(255, 174, 0);
  width: 0%;
}
#imageWarning {
  position: fixed;
  top: 41%; /* Đưa progressBar lên giữa theo chiều dọc */
  left: 85.5%; /* Đưa progressBar ra giữa theo chiều ngang */
  display: flex;
  width: 50px;
  height: 50px;
  animation: blink 1.2s infinite; /* Áp dụng animation blink với thời gian 1.5s và lặp vô hạn */
  visibility: hidden;
}
#imageWarning2 {
  position: fixed;
  top: 10.5%; /* Đưa progressBar lên giữa theo chiều dọc */
  left: 63%; /* Đưa progressBar ra giữa theo chiều ngang */
  display: flex;
  width: 50px;
  height: 50px;
  animation: blink 1.2s infinite; /* Áp dụng animation blink với thời gian 1.5s và lặp vô hạn */
  visibility: hidden;
}
.image-container {
  position: fixed;
  top: 3%;
  left: 65%;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  border: 7px solid black;
  padding: 10px;
}
#imageSuccessful {
  background-color: green;
  visibility: hidden;
}
#imageFailed {
  background-color: red;
  visibility: hidden;
}
.image-text {
  color: white;
  font-size: 23px;
  font-weight: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 10px;
}
.image-container img {
  margin-right: 10px;
  width: 70px;
  height: 70px;
}
.imageLoading{
  width: 100%; /* Đặt chiều rộng của hình ảnh là 100% của phần tử cha */
  height: 100%; /* Đặt chiều cao của hình ảnh là 100% của phần tử cha */
  position: fixed; /* Đặt vị trí của hình ảnh là cố định */
  top: 0; /* Đặt vị trí top của hình ảnh là 0 */
  left: 0; /* Đặt vị trí left của hình ảnh là 0 */
  visibility: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.countdown {
  position: relative;
}

.background {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; 
  height: 100px; 
  background-color: #000; 
  border-radius: 10px; 
  border: 5px solid #fff; 
  opacity: 0.5; 
  visibility: hidden; 
}

.time {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-family: Arial, sans-serif;
  color: white;
}

.menu-container-wrapper {
  position: fixed;
  top: 12%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* Xếp các container theo chiều dọc */
  align-items: flex-start; /* Canh các container ở đầu hàng */
}

.menu-container {
  background-color: black;
  opacity: 0.8;
  width: fit-content;
  height: fit-content;
  font-size: 17.5px;
  color: white;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row; /* Xếp các thành phần trong container theo chiều dọc */
  align-items: flex-start; /* Canh các thành phần ở đầu hàng */
}

.menu-container img {
  width: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-container div {
  margin-top: 10px; /* Khoảng cách giữa chữ và ảnh */
  align-items: flex-start;
}

.menu-item {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #dcdcdc;
}

.menu-item.selected {
  background-color: #6495ed;
  color: white;
}.menu-container1 {
  position: absolute;
  top: 50%;
  left: 70%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-item {
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #dcdcdc;
}

.menu-item.selected {
  background-color: #6495ed;
  color: white;
}
.menu-container1 {
  position: absolute;
  top: 45%;
  left: 70%;
  width: 20%;
  height: auto;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.menu-background {
  width: 100%; /* Đặt chiều rộng của hình ảnh là 100% của phần tử cha */
  height: 100%; /* Đặt chiều cao của hình ảnh là 100% của phần tử cha */
  position: fixed; /* Đặt vị trí của hình ảnh là cố định */
  top: 0; /* Đặt vị trí top của hình ảnh là 0 */
  left: 0; /* Đặt vị trí left của hình ảnh là 0 */
  z-index: -1; /* Đặt z-index của hình ảnh là thấp hơn so với phần tử menu container, để hình ảnh hiển thị phía sau */
  /* Bất kỳ quy tắc CSS nào khác bạn muốn áp dụng cho hình ảnh */
}
.menu-container2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Đặt chiều rộng tùy ý */
  height: auto; /* Đặt chiều cao tùy ý */
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.menu-container2 .menu-item {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center; /* Canh giữa văn bản trong mỗi menu item */
}

.menu-container2 .menu-item:hover {
  background-color: green;
}

.pause-menu-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;

}
.paused-text {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-family: 'Courier New', Courier, monospace;
  color: yellow;
  text-align: center;
  animation: blink 1.2s infinite; /* Áp dụng animation blink với thời gian 1.5s và lặp vô hạn */
}

.gameOver-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.gameOver-text {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: red;
  text-align: center;
}
.score-text{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: white;
  text-align: center;
}


@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}


@keyframes hideImage {
  100% {
    visibility: hidden;
  }
}